.container {
    max-width: 100%;
    width: 1200px;
    margin: 100px auto;
}

.container .title {
    text-align: center;
}

.input_group {
    margin: 10px auto;
    width: 300px;
    max-width: 100%;
}

.select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #eaeaea;
    color: #000;
    font-weight: bold;
}